<div class="mt-4 px-6 flex">
  <div class="mr-8">
    Batch number: <span><%= @current_batch.id %></span>
    <table class="mt-4 border-collapse table-auto text-sm">
      <thead>
        <tr>
          <th class="border-b font-medium p-4 pl-8 pt-0 pb-3 text-slate-600 text-left">Email</th>
          <th class="border-b font-medium p-4 pt-0 pb-3 text-slate-600 text-left">Quantity</th>
          <th class="border-b font-medium p-4 pt-0 pb-3 text-slate-600 text-left">Date</th>
          <th class="border-b font-medium p-4 pt-0 pb-3 text-slate-600 text-left">Comments</th>
          <th class="border-b font-medium p-4 pt-0 pb-3 text-slate-600 text-left">Status</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <% @current_batch.orders.each do |order| %>
          <tr>
            <td class="border-b border-slate-700 p-4 pl-8"><%= order.email %></td>
            <td class="border-b border-slate-700 p-4"><%= order.quantity %></td>
            <td class="border-b border-slate-700 p-4"><%= order.created_at.to_date %></td>
            <td class="border-b border-slate-700 p-4"><%= order.comment %></td>
            <td class="border-b border-slate-700 p-4"><%= order.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% if @last_batch %>
    <div>
      Batch number: <span><%= @last_batch.id %></span>
      <table class="mt-4 border-collapse table-auto text-sm">
        <thead>
          <tr>
            <th class="border-b font-medium p-4 pl-8 pt-0 pb-3 text-slate-600 text-left">Email</th>
            <th class="border-b font-medium p-4 pt-0 pb-3 text-slate-600 text-left">Quantity</th>
            <th class="border-b font-medium p-4 pt-0 pb-3 text-slate-600 text-left">Date</th>
            <th class="border-b font-medium p-4 pt-0 pb-3 text-slate-600 text-left">Comments</th>
            <th class="border-b font-medium p-4 pt-0 pb-3 text-slate-600 text-left">Status</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <% @last_batch.orders.each do |order| %>
            <tr>
              <td class="border-b border-slate-700 p-4 pl-8"><%= order.email %></td>
              <td class="border-b border-slate-700 p-4"><%= order.quantity %></td>
              <td class="border-b border-slate-700 p-4"><%= order.created_at.to_date %></td>
              <td class="border-b border-slate-700 p-4"><%= order.comment %></td>
              <td class="border-b border-slate-700 p-4"><%= order.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
