<!DOCTYPE html>
<html>
  <head>
    <title>Kumar's Kombucha</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Homemade kombucha">
    <meta name="author" content="Varun Kumar">
    <link rel="canonical" href="https://kumarskombucha.com">
    <%= favicon_link_tag "logo.png" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col">
    <%= flash[:alert] %>
    <%= render "shared/navbar" %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
